<link rel="stylesheet" type="text/css" href="styles/green.min.css"><div class="jumbotron full-bg animated-bg" data-bg="images/2d49fdaf.onion.jpg"><div class="col-md-6 col-md-offset-3 centered text-center"><section id="none"><div class="herowrapper" style="text-align:center;margin-top:10%"><div class="herocap" style="color:white;font-size:28px">Institute for Micronutrient Technolgy<p>A Ranadey Group of Industries</p></div><div class="herocap highlight rotate color" style="font-size:28px">Pioneers of Micronutrient Technology in India , Our Forte: The Progressive Grower, Our Strength: Products that Work</div></div></section><!--  <p>
          <a class="btn btn-primary btn-lg" href="#services" role="button"><span class="fa-caret-down fa"></span> Discover Slix</a>
        </p> --></div></div><!-- <li class="btn btn-default" id="ToggleLayout"><span class="fa fa-bars"></span></li> --><!--  <div class="col-md-12">
                <div id="Container" class="col-2 list">
                    
                    <a href="portfolio-single.html" class="mix cat1" >
                          <div class="image">
                            <img ng-src="images/00466dee.work1.jpg" alt="">
                          </div>
                          <div class="caption">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p>Suspendisse ut velit diam. Integer vestibulum, arcu nec semper facilisis, libero eros convallis sapien, quis aliquam nulla urna eu velit. Vestibulum eget erat id tellus.</p>
                          </div>
                    </a>

                    <a href="portfolio-single.html" class="mix cat1">
                          <div class="image">
                            <img ng-src="images/00466dee.work1.jpg" alt="">
                          </div>
                          <div class="caption">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p>Suspendisse ut velit diam. Integer vestibulum, arcu nec semper facilisis, libero eros convallis sapien, quis aliquam nulla urna eu velit. Vestibulum eget erat id tellus.</p>
                          </div>
                    </a>
                    <a href="portfolio-single.html" class="mix cat1" >
                          <div class="image">
                            <img ng-src="images/00466dee.work1.jpg" alt="">
                          </div>
                          <div class="caption">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p>Suspendisse ut velit diam. Integer vestibulum, arcu nec semper facilisis, libero eros convallis sapien, quis aliquam nulla urna eu velit. Vestibulum eget erat id tellus.</p>
                          </div>
                    </a>

                    <a href="portfolio-single.html" class="mix cat1">
                          <div class="image">
                            <img ng-src="images/00466dee.work1.jpg" alt="">
                          </div>
                          <div class="caption">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p>Suspendisse ut velit diam. Integer vestibulum, arcu nec semper facilisis, libero eros convallis sapien, quis aliquam nulla urna eu velit. Vestibulum eget erat id tellus.</p>
                          </div>
                    </a>
                    <a href="portfolio-single.html" class="mix cat1" >
                          <div class="image">
                            <img ng-src="images/00466dee.work1.jpg" alt="">
                          </div>
                          <div class="caption">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p>Suspendisse ut velit diam. Integer vestibulum, arcu nec semper facilisis, libero eros convallis sapien, quis aliquam nulla urna eu velit. Vestibulum eget erat id tellus.</p>
                          </div>
                    </a>

                    <a href="portfolio-single.html" class="mix cat1">
                          <div class="image">
                            <img ng-src="images/00466dee.work1.jpg" alt="">
                          </div>
                          <div class="caption">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p>Suspendisse ut velit diam. Integer vestibulum, arcu nec semper facilisis, libero eros convallis sapien, quis aliquam nulla urna eu velit. Vestibulum eget erat id tellus.</p>
                          </div>
                    </a>

                </div>
            </div> -->